*.env
*bak
*old
src/writable/*
!src/writable/index.html
.env
.env.*
*.key
*.pem
*.crt
*.p12
*.keystore
composer.lock
vendor/

.github/PULL_REQUEST_TEMPLATE.md 
.github/PULL_REQUEST_TEMPLATE.md.backup
.github/*.md 
